@charset "UTF-8";
body{
        	font-family: "Noto Sans KR", sans-serif !important;
		    margin: 0px !important;
		    padding: 0px !important;
		}
.side{
            width: 20% !important;
        }
.content{
            width: 60% !important;
        }
#wrapper{
            width: 100% !important;
        }
        
.test{
            position: relative !important;
        }
.nav-area{ 
            display: flex !important;
            justify-content: center !important;
            background: white !important;
            border-top: 1px solid rgb(0, 0, 0) !important;
            border-bottom: 1px solid rgb(0, 0, 0) !important;
            width: 100% !important;
            padding: 0 !important;
        }
.menu{
            display: table-cell !important;
            width: 150px !important;
            height: 50px !important;
        }
.menu a{
            color: rgb(168, 168, 168) !important;
            font-size: 20px !important;
            font-weight: bold !important;
            text-align: center !important;
            width: 100% !important;
            height: 100% !important;
            display: inline-block !important;
            line-height: 50px !important;
            text-decoration: none !important;
        }
.menu a:hover{
            color:black !important;
            border-top: 2px solid rgb(0, 0, 0) !important;
            border-bottom: 2px solid rgb(0, 0, 0) !important;
        }
#category{
        	float: right !important;
        }
#category button{
            width: 60px !important;
            height: 17px !important;
            font-size: 9px  !important;
            border: 0px !important;
            background: #7bbcb0 !important;
            color: white !important;
            border-radius: 40px !important;
            
        }
.sidenav-header {
            font-size: 18px !important;
            font-weight: bold !important;
            margin-bottom: 10px !important;
            background-color: #7bbcb0 !important;
            color: white !important;
            border-radius: 15px !important;
        }

.sidenav-item {
            background-color: #ddeeeb !important;
            border-radius: 15px !important;
            margin-bottom: 0px !important;
            padding: 0px !important;
        }

.sidenav-item img {
            width: 100% !important;
            height: auto !important;
            border-radius: 10px !important;
        }

.sidenav-item p {
            margin: 5px 0 !important;
        }

.sidenav-footer {
            margin-top: 20px !important;
        }

.sidenav-footer button {
            background-color: #7bbcb0 !important;
            border: none !important;
            color: white !important;
            padding: 0px !important;
            border-radius: 15px !important;
            width: 100% !important;
            cursor: pointer !important;
            height: 50px !important;
            font-size: 13px  !important;
        }

.sidenav-footer button:hover {
            background-color: #5da396 !important;
            
        }

.nav-area.fixed {
            position: fixed !important;
            top: 0 !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
            width: 100% !important;
            z-index: 100 !important;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1) !important;
            border-top: 0px solid rgb(0, 0, 0) !important;
            border-bottom: 0px solid rgb(0, 0, 0) !important;
        }
.sidenav {
            width: 150px !important;
            background-color: #ddeeeb !important;
            padding: 10px !important;
            position: absolute !important;
            top: 40% !important;
            right: 50px !important;
            border-radius: 15px !important;
            text-align: center !important;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
            transition: top 0.5s ease-in-out !important;
        }

.sidenav.fixed {
            position: fixed !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            right: 50px !important;
            z-index: 100 !important;
        }
.bpcontent{
            padding: 0 !important;
            height: 500px !important;
        }
.spcontent{
            display: flex !important;
            width: auto !important;
        }
.spcontent img{
            width: auto !important;
        }
#review{
            width: 90% !important;
            height: 70% !important;
            margin-top: 20px !important;
            margin-left: 50px !important;
            margin-right: 50px !important;
            
        }
#reviewbt{
            height: 30px !important;
            font-size: 15px !important;
            float: right !important;
            margin-top: 10px !important;
            margin-right: 50px !important;
        }
.recommendtr {
            width: 100% !important;
            height: 200px !important;
            display: flex !important;
            background-color: #ddeeeb !important;
            padding: 10px !important;
            border-radius: 15px !important;
            text-align: center !important;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
        }
.recommendtr-item {
            margin: 15px !important;
            background-color: #ddeeeb !important;
            border-radius: 15px !important;
            margin-bottom: 0px !important;
            padding: 0px !important;
            
        }

.recommendtr img {
            width: auto !important;
            height: 80px !important;
            border-radius: 10px !important;
        }

.recommendtr p {
            margin: 5px 0 !important;
        }
