body {
    font-family: "Noto Sans KR", system-ui !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* section */
section {
    margin: 20px auto !important;
    padding: 20px !important;
    max-width: 1024px !important;
}

.sec {
    background-color: #ddeeed !important;
}

.gallery {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    gap: 0px !important;
}

.gallery div {
    background-color: white !important;
    border-radius: 8px !important;
    padding: 10px !important;
    width: 200px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    text-align: center !important;
}

p {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-break: break-all !important;
}

.gallery img {
    width: 100% !important;
    height: 60% !important;
    border-radius: 8px !important;
}

.food {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    gap: 0px !important;
}

.food div {
    background-color: white !important;
    border-radius: 8px !important;
    padding: 10px !important;
    width: 200px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    text-align: center !important;
}

.food img {
    width: 100% !important;
    height: 60% !important;
    border-radius: 8px !important;
}

/* 행사 섹션 스타일 */
.events {
    display: flex !important;
    justify-content: space-around !important;
    gap: 0px !important; /* 박스 사이의 간격 */
    margin-bottom: 30px !important;
}

.events div {
    background-color: white !important;
    padding: 20px !important;
    border-radius: 8px !important;
    width: 30% !important;
    height: auto !important;
    min-width: 150px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    text-align: center !important;
    margin: 10px !important; /* 각 박스 주변에 여백을 추가 */
    border: 2px solid black !important; /* 테두리(선) 색을 검은색으로 설정 */
}

.but {
    all: unset !important;
    float: right !important;
}
