<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  namespace: 해당 mapper파일의 고유한 별칭  -->
<mapper namespace="rentcarMapper">
	<select id="carList" resultType="RentCar">
		SELECT CAR_ID AS carId,
			   CAR_NUM AS carNum,
			   CAR_NAME AS carName,
			   CAR_PRICE AS carPrice,
			   CAR_INFO AS carInfo,
			   CAR_PIC AS carPic
		  FROM TB_RENTCAR
		 WHERE STATUS = 'Y'
	</select>
	<insert id="bookingCar" parameterType="map">
		INSERT INTO TB_CAR_BOOKING(
										CAR_NUM,
										CAR_RECIEVE_PLACE,
										CAR_RETURN_PLACE,
										CAR_TIME_START,
										CAR_TIME_OVER,
										CAR_USER
								   )
							VALUES(
							       		#{carNum},
							       		#{location},
							       		#{location},
							       		#{startDate},
							       		#{endDate},
							       		#{loginUser}
							       )
	</insert>
	<update id="carStatus">
	   UPDATE TB_RENTCAR
		  SET STATUS = 'Y'
		 WHERE CAR_NUM = #{carNum}
	</update>
</mapper>