<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  namespace: 해당 mapper파일의 고유한 별칭  -->
<mapper namespace="travelMapper">
	<resultMap id="TravelResultSet" type="Travel">
		<result column="ac_name" property="trName" />
		<result column="ac_address" property="trAddress" />
		<result column="tr_info" property="trInfo" />
		<result column="act_id" property="trId" />
		<result column="Field" property="count" />
	</resultMap>
	<select id="selectTravelList" resultMap="TravelResultSet">
		SELECT ac_name,
				ac_address,
				tr_info,
				act_id,
				Field
		FROM (SELECT *,ROWNUM
			    FROM (SELECT *
			  			FROM TB_TOUR
			  	   	   ORDER BY Field DESC))
		WHERE ROWNUM <= 10
	</select>
	<select id="locationList" resultMap="TravelResultSet">
		SELECT  ac_name,
				ac_address,
				tr_info,
		FROM TB_TOUR
		WHERE AC_ADDRESS LIKE '%' || #{location} || '%'
	</select>
</mapper>